header{
    width: 100%;
    background-color: white;
    .header-con{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 80%;
        margin: 0 auto;
        
        nav{
            display: flex;
            justify-content: space-between;
            align-items: center;
          width: 45%;
            .logo{
                width: 20%;
                height: 5vw;
                display: flex;
                justify-content: center;
                align-items: center;
                a{
                    display: flex;
                    img{
                        width: 100%;
                        height: 100%;
                    }
                }
            }
            ul{
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 75%;
                li{
                    list-style: none;
                    border-radius: 20px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 1%;
                    a{
                        text-decoration: none;
                        font-size: $h-fs;
                        white-space: nowrap;
                        color: black;
                    }
                    &:hover{
                        background-color: black;
                        transition: 0.5s;
                        a{
                            color: white;
                        }
                    }
                }

            }
        }
        // ============= right side ========
        .right{
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 30%;
            ul{
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 70%;
                li{
                    list-style: none;
                    padding: 1%;
                    border-radius: 20px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 20px;
                    a{
                        text-decoration: none;
                        font-size: $h-fs;
                        white-space: nowrap;
                        color: black;
                    }
                    &:hover{
                        background-color: black;
                        transition: 0.5s;
                        a{
                            color: white;
                        }
                    }
                }
            }
            .header-i{
                width: 25%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                i{
                    font-size:calc($h-fs + 0.4vw);
                }
                .fa-bars-staggered{
                    display: none;
                }
            }
        }
        // ============== disabled ==========
        .mobile-logo{
            display: none;
        }
        .mobile-menu{
            display: none;
        }
    }
    .drop-menu{
        display: none;
    }
}